/* [class*="col-"] {
    min-height: 50px;
    
} */


/* header */

header {
    background-color: #2c3e50;
    min-height: 50px;
    line-height: 50px;
}

.my_navbar {
    background-color: #2c3e50;
    display: flex;
    justify-content: space-around;
}

/* jumbotron */

.jumbotron img {
    width: 200px;   
}

.jumbotron {
    color: white;
    background-color: #1abc9c;
    min-height: 350px;
}

.divisori {
    display: inline-block;
    width: 100px;
    border: 2px solid white;
    border-radius: 10%;
    margin: 0 20px;
}

.jumbotron h6 {
    display: inline;
    vertical-align: middle;
}

/* portfolio */

.portfolio {
    margin: 30px 0;
}

.immagini {
    margin-top: 30px;
}

.immagini img {
    width:100%;
    border-radius: 10px;
    margin: 5px 0;
}

.portfolio .divisori, .contact-me .divisori{
    border: 2px solid black;
}

/* about us */

.about-us {
    padding-top: 20px;
    background-color: #1abc9c;
    color: white;
    min-height: 300px;
    margin-bottom: 30px;
}

.about-us p {
    margin: 20px 0;
    text-align: left;
}
button {
    background-color:transparent;
    color: white;
    border: white 1px solid;
    border-radius: 4px;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 30px;
}

/* form */

.m_form {
    margin: 30px 0;
}

/* footer */

footer {
    color: white;
    background-color: #3a546d;
    min-height: 100px;
}

footer span {
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px 9px;
}

.copyright {
    color: white;
    min-height: 50px;
    background-color: #2c3e50;
    line-height: 50px;
}

.indirizzo, .social, .infomazioni {
    padding: 10px 10px;
} 